.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 53px;
}

.slider__card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 90px;
}

.slider__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-width: 270px;
    padding-bottom: 30px;
    background: #FAFAFA;
    border-radius: 9px;
}

.slider__card__title {
    font-family: Georgia;
    @include font($h4-size, 23px);
    text-align: center;
    color: $color-dark-1;
    letter-spacing: 0.06em;
    margin: 0;
}

