.help-wrapper {
    padding: 80px 40px 100px;
}
.help__title {
    max-width: 310px;
    font-family: Georgia;
    @include font ($h3-size, 130%);
    letter-spacing: 0.06em;
    color: $color-dark-1;
    text-align: center;
    margin: 0 auto 60px;
}

.help__first-row {
    padding: 0 87px;
    margin-bottom: 55px;
}

.help__second-row {
    padding: 0 (84px+87px);
}

.help__list__first-row {
    display: grid;
    grid-template-columns: 82px 150px 60px 153px 101px;
    gap: 120px;
}

.help__list__second-row {
    display: grid;
    grid-template-columns: 89px 101px 165px 143px;
    gap: 120px;
}

.help__list__first-row, .help__list__second-row {
    list-style: none;
    margin: 0;
    padding: 0;
}

.help__list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item__icon {
    margin: 0 0 30px;
}

.item__name {
    margin: 0;
    font-family: Georgia;
    @include font ($h4-size, 23px);
    letter-spacing: 0.05em;
    color: $color-dark-1;
}